* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', sans-serif,monospace,Verdana, Geneva, Tahoma;
}


body{
    background-image: url(../assets/fondos/tabla-cortar.jpg);
}
/*------------ HEADER ---------------*/
.conteiner11{
    background-color: aqua;
    width: 70%;
    max-width: 1200px; 
}

.contenedor-header{ 
    display: flex;
    background-color: #fffcf5;
    background-image: url(../assets/fondos/madera.jpg);
    justify-content: center;
    align-items: center;
}

.contenedor-header div {
    margin: 20px;
}

.botones{
    position:fixed; /*agrege esto */
    /*position: relative;*/ /*esto estaba orginal*/
    /*left: 400px; */
    right:0px;
}

header div button {
    
    width: 50px;
    border-radius: 50%;
    padding: 10px 0px;
    border: 0;
    background-color: rgb(245,227,165) ;
    border: solid 1px rgb(0, 0, 0);
}

header div img{
   max-width: 100%;
   width: 300px;
}

header nav ul{ 
    display: flex;
    justify-content:space-around;
    align-items: center;
    list-style: none;
    font-size: large;
    padding: 0;
    background-image:url(../assets/fondos/tablas-blancs.jpg);
    font-weight: 500;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 120%;
}
.nav-sombreado{
    padding: 8px 12px ;
    border-radius: 3px;
    flex: 1 0 auto;
    text-align: center;
}
.nav-sombreado:hover{
background-color:rgb(245,227,165);
transition: 0.2s;
}

/*------------ MAIN ---------------*/
main{
    
    margin: 0%;
}

/*------------ MAIN INDEX ---------------*/
#carouselExampleAutoplaying{
    width: 55%;
    text-align: center;
    display: block;
    margin: 50px auto; 
}

.carousel-inner div img{
    width: 20%;
    height: 30%; 
}

.carousel-item{
transition-duration: 3s;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    margin: 80px 0;
}
.caja{
    width: 30%;
    padding: 15px;
    text-align: center;
    margin: 10px;
    border: 5px solid black;
    overflow:auto;
    animation:fadeInUp;
    animation-duration: 3s;
    background-image: url(../assets/fondos/tablas-blancs.jpg);
}

.caja img{
    width: 100%;
}

/*------------ FOOTER ---------------*/
footer{
    max-width: 100%;
    border: 1px solid black;
    margin:0%;
}

.footer1{
    background-image: url(../assets/fondos/suelo-blanco.avif);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.footer1 .primeracolumna{
    max-width: 8%;
    margin-left: 15px;
    font-size:larger;
}

.footer1 .logo1{
    width: 200px;
}

.icon{
    width: 20px;
 
}
.footer1 .segundacolumna{
    margin-top: 20px;
    text-align: center;
}
.footer1 .segundacolumna h3{
    font-size: larger;
    text-decoration: underline;
}
.footer1 .items{
    list-style: none;
}
.footer2{
    background-color: #263238;
    color: white;
    display: flex;
    font-size: 15px;
    padding: 25px;
    
}
.ultimotext{
    text-align: center;
    max-width: 40%;
    margin-left: 10px;
}
.ultimotext2{
    max-width: 60%;
    text-align: center;
    margin-left: 5%;
    margin-right: 0%;
}
.ultimotext2 h3{
    font-size: 15px;
}


/* Codigo de Aye - Responsive */

@media (max-width: 600px){
    .contenedor{
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    .caja{
        width: 80%;
    }
}

@media (max-width: 556px){
    header nav ul {
        flex-direction: column;
        align-items: center;
       
    }
}



/* Codigo de Josi - Formulario */
.form-registro{
    width: 450px;
    margin:auto;
    background-color: rgba(248, 246, 246, 1) ;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    margin-bottom: 20px;
}
h2{
    color: black;
    text-align: center;
    margin: 20px;
    font-size: 60px;
    font-family: 'Cinzel', serif;
}
.control{
    width: 100%;
    padding: 7px;
    margin-top: 20px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 17px;
    font-family: monospace;
}

/*
.mensaje{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    font-size: 17px;
    min-width: 100%;
}

.boton{
    background-color: #60afa5;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 25%;
    box-sizing: border-box;
    font-size: 17px;
}
.boton:hover{
    cursor: pointer;
    zoom: 105%;
    background-color: #80bdb5;
}*/

.contol.nombres{
    border: solid 5px green;

}

#warnings.warnings{
   display: inline;
}

.warnings{
    font-size: 11px;
    text-align: center;
    color: red;
}


.boton_enviar {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: rgb(132,66,5);
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
    margin-left: 150px;
}

.boton_enviar:hover {
	box-shadow: 3px 0px 30px rgb(62, 61, 59);
}



/*------------ PRODUCTOS PAGES ---------------*/
.titulo-principal {
   /* background-image: url(../assets/fondos/madera.jpg);*/
    font-size: 200%;
    width: 100%;  
    margin: 1rem auto;
    text-align: center;
    font-family: 'Cinzel', serif;
    color: rgb(0, 0, 0);
    letter-spacing: 4px;
}

/*
.contenedor-productos {
    max-width: 1200px;
    width: 80%;
    margin: 20rem 20rem;
    display: grid;
    grid-gap: 15px;
    justify-content: center ;
    grid-template-columns: 1fr 1fr 1fr;

} */

/*responsive pages of product */
@media only screen and (max-width:600px) /* and (max-width:768px){*/
    {
    .contenedor-productos {
        max-width: 600px;
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-gap: 15px;
        justify-content: center ;
        grid-template-columns: 1fr;   
    }
    }
     @media only screen and (min-width:600px)  
        {
        .contenedor-productos {
            max-width: 768px;
            width: 80%;
            margin: 0 auto;
            display: grid;
            grid-gap: 15px;
            justify-content: center ;
            grid-template-columns: 1fr 1fr;   
        }
        }
    @media only screen and (min-width:768px) 
    {
    .contenedor-productos {
        max-width: 1200px;
        width: 80%;
        margin: 5rem auto;
        display: grid;
        grid-gap: 15px;
        justify-content: center ;
        grid-template-columns: 1fr 1fr 1fr;   
    }
    }     
  /*End responsive pages of product */
  

#contenedor-productos .producto{
    border: 2px solid black;
    width: 350px;
}
#contenedor-productos div{
    background-image: url(../assets/fondos/tablas-blancs.jpg);
    text-align: center;
}    
.producto-imagen {
    width: 100%;
    height: 280px;
    box-sizing: cover;
}  

.producto-agregar{
box-sizing: border-box;
background-color: white;
border: 2px solid  rgb(132,66,5);
border-radius: 0.6em;
color: #000000;
cursor: pointer;
font-size: 0,5rem;
padding: 1rem;
text-align: center;
text-transform: uppercase;
font-family: 'Cinzel', serif;
font-weight: 700;
margin: 2rem;
}
  .producto-agregar {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .producto-agregar:hover {
    box-shadow: 0 0 40px 40px  rgb(132,66,5) inset;
    color:#ffffff
  }


/*------------ WHATSAPP ---------------*/
.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 60px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #20ba5a;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}


/*------------ CARRITO ---------------*/

body{
    background-color: #20ba5a;
}

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 10rem 10rem;
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
}

.carrito-vacio,
.carrito-comprado {
    padding: 10rem;
    color: black;
    text-align: center;
    font-size: 2rem;

}

.carrito-productos {
    display: flex;
    flex-direction: column;
}



.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: .5rem;
    padding-right: 1.5rem;
    border-bottom: 1px solid black;
    
}



.carrito-producto-imagen {
    width: 250px;
    border-radius: 1rem;
   
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-eliminar {
    width: 5rem;
    height: 5rem;
    border: 0;
    background-color:transparent;
    color: black;
    cursor: pointer;
}

.carrito-producto-eliminar:hover{
    background-color:hsl(0, 100%, 79%) ;
    border-radius: 2rem;
    }



.carrito-acciones {
    display: flex;
    justify-content: space-between;
    margin: 5rem 2rem;
}

.carrito-acciones-vaciar {
    
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 2rem;
    color:black;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
    cursor: pointer;
    background-color: #fdc781;
}



.carrito-acciones-vaciar {
    background: #fff; 
    color: rgb(132,66,5); 
    border: 2px solid rgb(132,66,5); 
    padding: 16px 20px;
    border-radius: 3px; 
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .carrito-acciones-vaciar:hover {
    color: #fff; 
  }
  .carrito-acciones-vaciar::after {
    content: "";
    background: rgb(132,66,5); 
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .carrito-acciones-vaciar:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }


.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color:white;
    padding: 1rem;
    color: black;
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
    font-family: 'Cinzel', serif;
    border: 2px solid rgb(132,66,5)
}

.carrito-acciones-comprar {
    border: 0;
    padding: 1rem;
    color: var(--clr-white);
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.carrito-acciones-comprar {
    background: #fff; 
    color: rgb(132,66,5);
    border: 2px solid rgb(132,66,5); 
    padding: 16px 20px;
    border-radius: 3px; 
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .carrito-acciones-comprar:hover {
    color: #fff; 
  }
  .carrito-acciones-comprar::after {
    content: "";
    background: rgb(132,66,5); /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .carrito-acciones-comprar:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }



.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

.disabled {
    display: none;
}