* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}



.conteiner11{
    background-color: aqua;
    width: 70%;
    max-width: 1200px; 
    
}


.contenedor-header{ 
    display: flex;
    background-color: #fffcf5;
    justify-content: center;
    align-items: center;
    
}

.contenedor-header div {
    margin: 20px;
}

.botones{
    position: relative;
    left: 400px; 
}


header div button {
    background-color:burlywood;
    width: 50px;
    border-radius: 50%;
    padding: 10px 0px;
    border: 0;
    
}


header div img{
   max-width: 100%;
   width: 300px;
}

header nav ul{ 
   
    display: flex;
    justify-content:space-around;
    align-items: center;
    list-style: none;
    font-size: 20px;
    padding: 0;
   background-image:url(https://static5.depositphotos.com/1038117/460/i/600/depositphotos_4608292-stock-photo-texture-fresh-wood-background.jpg);
   font-weight: 500;
}
header nav ul li a{
    text-decoration: none;
    color: black;
}
.nav-sombreado{
    padding: 8px 12px ;
    border-radius: 3px;
    flex: 1 0 auto;
    text-align: center;
}
.nav-sombreado:hover{
background-color:hsl(51, 70%, 55%) ;
transition: 0.2s;
}


#carouselExampleAutoplaying{
    width: 50%;
    text-align: center;
    display: block;
    margin: auto;
   
    
}

p{
    font-family: 'Neucha', cursive;
}
.carousel-inner div img{
    width: 20%;
    height: 30%;
   
}

.carousel-item{
transition-duration: 3s;
}

h2{
    font-family:cursive;
}

.contenedor{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    margin: 20px 0;
}
.caja{
    width: 30%;
    padding: 15px;
    text-align: center;
    margin: 10px;
    border: 5px solid black;
    overflow:auto;
    animation:rollIn;
    animation-duration: 3s;
}
.caja img{
    width: 90%;

}

footer{
    max-width: 100%;
    border: 1px solid black;
}

.footer1{
    background-color: #cfd8dc ;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    
}

.icon{
    width: 20px;
}

.footer2{
    background-color: #263238;
    color: white;
    display: flex;
    font-size: 15px;
    padding: 25px;
    
}
.ultimotext h3{
    font-size: 12px;
}





/* Codigo de Aye - Responsive */

@media (max-width: 600px){
    .contenedor{
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    .caja{
        width: 80%;
    }
}

@media (max-width: 556px){
    header nav ul {
        flex-direction: column;
        align-items: center;
       
    }
}





/* Codigo de Josi - Formulario */


.form-registro{
    width: 450px;
    margin:auto;
    background-color: rgba(0, 0, 0, 0.4) ;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    margin-bottom: 20px;
}
h2{
    color: #263238;
    text-align: center;
    margin: 20px;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.control{
    width: 100%;
    padding: 7px;
    margin-top: 20px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 17px;
    font-family: monospace;
}
.mensaje{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    font-size: 17px;
    min-width: 100%;
}
.boton{
    background-color: #60afa5;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 25%;
    box-sizing: border-box;
    font-size: 17px;
}
.boton:hover{
    cursor: pointer;
    zoom: 105%;
    background-color: #80bdb5;
}





/* Codigo de Lau - Grid */
.titulo-principal {
    background-image: url(../assets/madera.jpg);
    font-size: 3rem;
    width: 80%;  
    margin: 1rem auto;
    text-align: center;
}

.contenedor-productos {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-gap: 15px;
    justify-content: center ;
    grid-template-columns: 1fr 1fr 1fr;
}

.producto-imagen {
    height: 280px;
    box-sizing: cover;
}  




/*Watsapp*/
.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 60px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #20ba5a;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}


/*Carrito*/


.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0rem 10rem;
}

.carrito-vacio,
.carrito-comprado {
    color: black;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#ddf779;
    color: black;
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color:transparent;
    color: black;
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: solid ;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 2rem;
    color:black;
    text-transform: uppercase;
    cursor: pointer;
    background-color: chartreuse;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

.disabled {
    display: none;
}